

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clothes App</title>
  </head>
  <body>
    <h1>Welcome to the second-hand clothing store!</h1>

        <a href="/clothes">Browse Clothing</a>

    <p>A store where you can choose your coolest outfits at the best price!</p>
  </body>
</html>
