<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Clothing</title>
  </head>
  <body>
    <h1>Edit <%= clothe.name %></h1>

    <form action="/clothes/<%=clothe._id%>?_method=PUT" method="POST">

      <label for="name">Name of Item:</label>
      <input type="text" name="name" value="<%= clothe.name %>" />

      <label for="size">Size:</label>
      <input type="text" name="size" id="size" required />

      <label for="color">Color:</label>
      <input type="text" name="color" id="color" />

      <label for="inStock">InStock:</label>
      <input type="checkbox" name="inStock" <% if (clothe.inStock) { %>checked<% } %> >

      <button type="submit">Update Clothing</button>
    </form>
    <a href="/clothes/">Back to Clothing</a>
  </body>
</html>
