<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Clothing Index</title>
</head>

<body>
    <div class="page">
        <header class="page-header">
            <div>
                <h1 class="page-title">All Clothing</h1>
                <p class="page-subtitle">List of all the items</p>
            </div>

            <div>
                <a href="/" class="btn">Back Home</a>
                <a href="/clothes/new" class="btn btn-primary">+ Add New Item</a>
            </div>
        </header>

        <% if (clothes.length===0) { %>
            <div class="card card-empty">
                You don't have any items yet. Start by adding your first one👕
            </div>
            <% } else { %>
                <div class="card">
                    <ul class="clothes-list">
                        <% clothes.forEach(clothe=> { %>
                            <li class="clothes-item">
                                <a href="/clothes/<%= clothe._id %>">
                                    <%= clothe.name %>
                                </a>
                            </li>
                            <% }) %>
                    </ul>
                </div>
                <% } %>
    </div>
</body>
</html>