<!-- views/fruits/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clothes Index</title>
  </head>
  <body>
    <h1>All Clothes</h1>
    <ul>
        <% clothes.forEach(clothe => { %>
          <li><%= clothe.name %></li>
        <% }); %>
    </ul>

  </body>
</html>
