<!-- views/clothes/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Clothes</title>
  </head>
  <body>
    <h1>Create a New Clothes!</h1>
    <form action="/clothes" method="POST">

      <label for="name">Name:</label>
      <input type="text" name="name" id="name" required />

      <label for="size">Size:</label>
      <input type="text" name="size" id="size" required />

      <label for="color">Color:</label>
      <input type="text" name="color" id="color" />

      <label for="inStock">InStock:</label>
      <input type="checkbox" name="inStock" id="inStock" checked />

      <button type="submit">Add Clothe</button>
    </form>
  </body>
</html>
